body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: plum;
    text-align: center;
    padding: 10px;
    height:250px;
}

header img{
    height: 50px;
    width: 50px;
    padding-top: 5px;
}
nav{
    background-color: rgb(199, 58, 199);
    padding: 10px;
    text-align: center;
}

nav a{
    text-decoration: none;
    padding: 14px 16px;
    color: black;
    font-size: 20px;
    font-weight:bold;
 
}

nav a:hover{
    background-color: white;
    border-radius: 5px;
}

main{
    text-align: center;
}

.explore{
    color: rgb(71, 71, 199);
    font-size:20px;
}

.explore:hover{
	font-size:25px;
}

.gallery{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-left: 20px;
}

.gallery img{
    height: 200px;
    width: 150px;
    padding: 20px;
    text-align: center;
    
    border-radius: 5px;
    transition: transform 0.4s ease;
}

.gallery img:hover{
    transform: scale(1.2);
}

footer{
    background-color: rgb(161, 109, 161);
    color: white;
    text-align: center;
    padding: 10px;
    line-height: 1.5;
}